body{
    background-color: black;
}
.n1{
    color: white;
    background-color: black; 
    margin-left:40px;
    margin-top:50px;
    margin-bottom: 0px;
}
.d1{
    background-color: white;
    padding: 20px;
    border: 30px solid black;
}
.btn{
    color: white;
    background-color: black;
}





